# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/BusinessModels/bin/Debug/BusinessModels.dll
/BusinessModels/bin/Debug/BusinessModels.pdb
/BusinessModels/obj/Debug/BusinessModels.csproj.FileListAbsolute.txt
/BusinessModels/obj/Debug/BusinessModels.csprojResolveAssemblyReference.cache
/BusinessModels/obj/Debug/BusinessModels.dll
/BusinessModels/obj/Debug/BusinessModels.pdb
/BusinessModels/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DataBase/bin/Debug/DataBase.dll
/DataBase/bin/Debug/DataBase.pdb
/DataBase/bin/Debug/MySql.Data.dll
/DataBase/bin/Debug/MySql.Data.Entity.dll
/DataBase/bin/Debug/MySql.Data.Entity.EF6.dll
/DataBase/bin/Debug/MySql.Fabric.Plugin.dll
/DataBase/bin/Debug/MySql.Web.dll
/DataBase/obj/Debug/DataBase.csproj.FileListAbsolute.txt
/DataBase/obj/Debug/DataBase.csprojResolveAssemblyReference.cache
/DataBase/obj/Debug/DataBase.dll
/DataBase/obj/Debug/DataBase.pdb
/DataBase/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MainEntry/bin/Debug/BSE.Windows.Forms.dll
/MainEntry/bin/Debug/BusinessModels.dll
/MainEntry/bin/Debug/BusinessModels.pdb
/MainEntry/bin/Debug/DataBase.dll
/MainEntry/bin/Debug/DataBase.pdb
/MainEntry/bin/Debug/DevComponents.DotNetBar2.dll
/MainEntry/bin/Debug/MainEntry.exe
/MainEntry/bin/Debug/MainEntry.pdb
/MainEntry/bin/Debug/MainEntry.vshost.exe
/MainEntry/bin/Debug/MainEntry.vshost.exe.manifest
/MainEntry/bin/Debug/Models.dll
/MainEntry/bin/Debug/Models.pdb
/MainEntry/bin/Debug/MySql.Data.dll
/MainEntry/bin/Debug/Presenters.dll
/MainEntry/bin/Debug/Presenters.pdb
/MainEntry/bin/Debug/Views.dll
/MainEntry/bin/Debug/Views.pdb
/MainEntry/bin/Debug/WorkSpace.dll
/MainEntry/bin/Debug/WorkSpace.pdb
/MainEntry/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MainEntry/obj/Debug/MainEntry.csproj.FileListAbsolute.txt
/MainEntry/obj/Debug/MainEntry.csproj.GenerateResource.Cache
/MainEntry/obj/Debug/MainEntry.csprojResolveAssemblyReference.cache
/MainEntry/obj/Debug/MainEntry.exe
/MainEntry/obj/Debug/MainEntry.pdb
/MainEntry/obj/Debug/MainEntry.Properties.Resources.resources
/Models/bin/Debug/BusinessModels.dll
/Models/bin/Debug/BusinessModels.pdb
/Models/bin/Debug/DataBase.dll
/Models/bin/Debug/DataBase.pdb
/Models/bin/Debug/Models.dll
/Models/bin/Debug/Models.pdb
/Models/bin/Debug/MySql.Data.dll
/Models/bin/Debug/WorkSpace.dll
/Models/bin/Debug/WorkSpace.pdb
/Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Models/obj/Debug/Models.csproj.FileListAbsolute.txt
/Models/obj/Debug/Models.csprojResolveAssemblyReference.cache
/Models/obj/Debug/Models.dll
/Models/obj/Debug/Models.pdb
/Presenters/bin/Debug/BSE.Windows.Forms.dll
/Presenters/bin/Debug/BusinessModels.dll
/Presenters/bin/Debug/BusinessModels.pdb
/Presenters/bin/Debug/DataBase.dll
/Presenters/bin/Debug/DataBase.pdb
/Presenters/bin/Debug/DevComponents.DotNetBar2.dll
/Presenters/bin/Debug/Models.dll
/Presenters/bin/Debug/Models.pdb
/Presenters/bin/Debug/MySql.Data.dll
/Presenters/bin/Debug/Presenters.dll
/Presenters/bin/Debug/Presenters.pdb
/Presenters/bin/Debug/Views.dll
/Presenters/bin/Debug/Views.pdb
/Presenters/bin/Debug/WorkSpace.dll
/Presenters/bin/Debug/WorkSpace.pdb
/Presenters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Presenters/obj/Debug/Presenters.csproj.FileListAbsolute.txt
/Presenters/obj/Debug/Presenters.csprojResolveAssemblyReference.cache
/Presenters/obj/Debug/Presenters.dll
/Presenters/obj/Debug/Presenters.pdb
/Views/bin/Debug/BSE.Windows.Forms.dll
/Views/bin/Debug/BusinessModels.dll
/Views/bin/Debug/BusinessModels.pdb
/Views/bin/Debug/DataBase.dll
/Views/bin/Debug/DataBase.pdb
/Views/bin/Debug/DevComponents.DotNetBar2.dll
/Views/bin/Debug/Models.dll
/Views/bin/Debug/Models.pdb
/Views/bin/Debug/MySql.Data.dll
/Views/bin/Debug/Views.dll
/Views/bin/Debug/Views.pdb
/Views/bin/Debug/WorkSpace.dll
/Views/bin/Debug/WorkSpace.pdb
/Views/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Views/obj/Debug/Views.CashierView.resources
/Views/obj/Debug/Views.csproj.FileListAbsolute.txt
/Views/obj/Debug/Views.csproj.GenerateResource.Cache
/Views/obj/Debug/Views.csprojResolveAssemblyReference.cache
/Views/obj/Debug/Views.dll
/Views/obj/Debug/Views.LayoutView.resources
/Views/obj/Debug/Views.LoginView.resources
/Views/obj/Debug/Views.pdb
/Views/obj/Debug/Views.Properties.Resources.resources
/WorkSpace/bin/Debug/BusinessModels.dll
/WorkSpace/bin/Debug/BusinessModels.pdb
/WorkSpace/bin/Debug/DataBase.dll
/WorkSpace/bin/Debug/DataBase.pdb
/WorkSpace/bin/Debug/MySql.Data.dll
/WorkSpace/bin/Debug/WorkSpace.dll
/WorkSpace/bin/Debug/WorkSpace.pdb
/WorkSpace/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WorkSpace/obj/Debug/WorkSpace.csproj.FileListAbsolute.txt
/WorkSpace/obj/Debug/WorkSpace.csprojResolveAssemblyReference.cache
/WorkSpace/obj/Debug/WorkSpace.dll
/WorkSpace/obj/Debug/WorkSpace.pdb
*.cache
WPFViews/obj/Debug/App.g.i.cs
Views/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
