# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
BusinessModels/bin/
BusinessModels/obj/
Entities/bin/
Entities/obj/
DataBase/bin/
DataBase/obj/
Ryanstaurant.Clients.ManagementCenter/bin/
Ryanstaurant.Clients.ManagementCenter/obj/
Ryanstaurant.Clients.WCFClient/bin/
Ryanstaurant.Clients.WCFClient/obj/
Ryanstaurant.Clients.WPF.ManagementCenter/bin/
Ryanstaurant.Clients.WPF.ManagementCenter/obj/
Ryanstaurant.Clients.WPF.ManagementCenter.Entities/bin/
Ryanstaurant.Clients.WPF.ManagementCenter.Entities/obj/
Ryanstaurant.Clients.WPF.ManagementCenter.Model/bin/
Ryanstaurant.Clients.WPF.ManagementCenter.Model/obj/
Ryanstaurant.Clients.WPF.ManagementCenter.ViewModel/bin/
Ryanstaurant.Clients.WPF.ManagementCenter.ViewModel/obj/
Ryanstaurant.Clients.WPF.MangementCenter.Entities/bin/
Ryanstaurant.Clients.WPF.MangementCenter.Entities/obj/
Ryanstaurant.Server/bin/
Ryanstaurant.Server/obj/
Ryanstaurant.Servers/WAS/bin/
Ryanstaurant.Servers/WAS/obj/
Ryanstaurant.Servers/UMS_WAS/bin/
Ryanstaurant.Servers/UMS_WAS/obj/
Ryanstaurant.UMS.Client/bin/
Ryanstaurant.UMS.Client/obj/
Ryanstaurant.UMS.DAL/bin/
Ryanstaurant.UMS.DAL/obj/
Ryanstaurant.UMS.DALTests/bin/
Ryanstaurant.UMS.DALTests/obj/
Ryanstaurant.UMS.DataAccess/bin/
Ryanstaurant.UMS.DataAccess/obj/
Ryanstaurant.UMS.DataContract/bin/
Ryanstaurant.UMS.DataContract/obj/
Ryanstaurant.UMS.Entities/bin/
Ryanstaurant.UMS.Entities/obj/
Ryanstaurant.UMS.Entity/bin/
Ryanstaurant.UMS.Entity/obj/
Ryanstaurant.UMS.Interface/bin/
Ryanstaurant.UMS.Interface/obj/
Ryanstaurant.UMS.WorkSpace/bin/
Ryanstaurant.UMS.WorkSpace/obj/
Ryanstaurant.Utility/bin/
Ryanstaurant.Utility/obj/
RyanstaurantApplicationServer/bin/
RyanstaurantApplicationServer/obj/
RyanstaurantDataContract/bin/
RyanstaurantDataContract/obj/
RyanstaurantServer/bin/
RyanstaurantServer/obj/
RyanstaurantService/bin/
RyanstaurantService/obj/
RyanstaurantWAS/bin/
RyanstaurantWAS/obj/
WorkSpace/bin/
WorkSpace/obj/
MainEntry/bin/
MainEntry/obj/
Models/bin/
Models/obj/
Presenters/bin/
Presenters/obj/
UserService/bin/
UserService/obj/
*.exe
/Ryanstaurant.UMS.WorkSpace/FakesAssemblies
/Ryanstaurant.UMS.Tests/bin/Debug
/Ryanstaurant.UMS.Tests/obj/Debug
/Ryanstaurant.UMS.Test/bin/Debug
/Ryanstaurant.UMS.Test/obj/Debug
