<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUMSService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/RyanstaurantApplicationServer/UMS/UMSService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUMSService"
          contract="IUMSService" name="BasicHttpBinding_IUMSService" />
    </client>
  </system.serviceModel>
</configuration>