<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Ums" connectionString="data source=localhost;initial catalog=ryanstaurant;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Gms" connectionString="data source=localhost;initial catalog=ryanstaurant;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Oms" connectionString="data source=localhost;initial catalog=ryanstaurant;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IsDebugMode" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <appSettings>
    <add key="UmsClientToken" value="a08cc634-1cd3-4e97-802f-5a0e0beb30a5"/>
    <add key="OmsClientToken" value="120,55,55,240,107,102,216,173,166,23,107,202,185,191,196,225,33,143,54,20,205,57,125,175,237,61,148,164,55,228,169,164,239,196,161,128,46,173,32,142,81,188,244,146,197,179,101,53,216,236,25,249,162,190,148,33,255,25,118,183,49,6,71,226,3,203,142,189,66,22,109,117,114,1,46,221,232,65,182,218,7,17,55,141,168,214,230,144,74,179,60,131,117,10,167,49,138,118,223,150,159,192,125,243,181,250,75,191,249,75,64,77,201,9,70,181,32,182,77,78,174,47,194,154,23,138,243,69,"/>
  </appSettings>
</configuration>
